.sub-2:hover .icons {
  width: 8vw;
  height: 3vh;
  color: rgba(231, 231, 231, 0.945);
}

.sub-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: 43%;
  bottom: -16vh;
  width: 15vw;
  height: 10vh;
  background-color: rgba(73, 55, 192, 0.397);
  -webkit-transition: 900ms ease all;
  transition: 900ms ease all;
  border-radius: 2em;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  -webkit-box-shadow: 0px 0px 2px #413e3e;
          box-shadow: 0px 0px 2px #413e3e;
  z-index: 1500;
}

.sub-2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: -25px;
}

.sub-2 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
  height: 7vh;
  width: 3.5vw;
  background-color: rgba(241, 10, 10, 0.281);
  -webkit-backdrop-filter: blur(123px);
          backdrop-filter: blur(123px);
  border-radius: 50%;
  -webkit-transform: translateY(0vh);
          transform: translateY(0vh);
  cursor: pointer;
  -webkit-transition: 500ms ease-in-out all;
  transition: 500ms ease-in-out all;
}

.sub-2 ul li:hover {
  -webkit-transform: translateY(-0.7vh);
          transform: translateY(-0.7vh);
  background-color: rgba(218, 12, 12, 0.877);
}

.sub-2 ul li .icons {
  width: 8vw;
  height: 3vh;
  color: rgba(231, 231, 231, 0.575);
  -webkit-transition: 300ms ease-in all;
  transition: 300ms ease-in all;
}

.sub-2 .suber {
  font-size: 50px;
  text-align: center;
  background-color: transparent;
  color: white;
}

.sub-anim {
  -webkit-transform: translateY(-21vh);
          transform: translateY(-21vh);
}

@media screen and (max-width: 600px) {
  .sub-2:hover .icons {
    width: 8vw;
    height: 3vh;
    color: rgba(231, 231, 231, 0.945);
  }
  .sub-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    left: 43%;
    bottom: -16vh;
    width: 45vw;
    height: 10vh;
    background-color: rgba(73, 55, 192, 0.397);
    -webkit-transition: 900ms ease all;
    transition: 900ms ease all;
    border-radius: 2em;
    -webkit-backdrop-filter: blur(7px);
            backdrop-filter: blur(7px);
    -webkit-box-shadow: 0px 0px 2px #413e3e;
            box-shadow: 0px 0px 2px #413e3e;
    z-index: 1500;
  }
  .sub-2 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    left: -25px;
  }
  .sub-2 ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 20px;
    height: 7vh;
    width: 11.5vw;
    background-color: rgba(241, 10, 10, 0.281);
    -webkit-backdrop-filter: blur(123px);
            backdrop-filter: blur(123px);
    border-radius: 50%;
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
    cursor: pointer;
    -webkit-transition: 500ms ease-in-out all;
    transition: 500ms ease-in-out all;
  }
  .sub-2 ul li:hover {
    -webkit-transform: translateY(-0.7vh);
            transform: translateY(-0.7vh);
    background-color: rgba(218, 12, 12, 0.877);
  }
  .sub-2 ul li .icons {
    width: 8vw;
    height: 3vh;
    position: relative;
    left: 1.8vw;
    color: rgba(231, 231, 231, 0.575);
    -webkit-transition: 300ms ease-in all;
    transition: 300ms ease-in all;
  }
  .sub-2 .suber {
    font-size: 50px;
    text-align: center;
    background-color: transparent;
    color: white;
  }
  .sub-anim {
    -webkit-transform: translateY(-21vh);
            transform: translateY(-21vh);
  }
}

@media screen and (max-width: 400px) {
  .sub-2:hover .icons {
    width: 8vw;
    height: 3vh;
    color: rgba(231, 231, 231, 0.945);
  }
  .sub-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    left: 27%;
    bottom: -16vh;
    width: 45vw;
    height: 10vh;
    background-color: rgba(73, 55, 192, 0.397);
    -webkit-transition: 900ms ease all;
    transition: 900ms ease all;
    border-radius: 2em;
    -webkit-backdrop-filter: blur(7px);
            backdrop-filter: blur(7px);
    -webkit-box-shadow: 0px 0px 2px #413e3e;
            box-shadow: 0px 0px 2px #413e3e;
    z-index: 1500;
  }
  .sub-2 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    left: -25px;
  }
  .sub-2 ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 20px;
    height: 7vh;
    width: 11.5vw;
    background-color: rgba(241, 10, 10, 0.281);
    -webkit-backdrop-filter: blur(123px);
            backdrop-filter: blur(123px);
    border-radius: 50%;
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
    cursor: pointer;
    -webkit-transition: 500ms ease-in-out all;
    transition: 500ms ease-in-out all;
  }
  .sub-2 ul li:hover {
    -webkit-transform: translateY(-0.7vh);
            transform: translateY(-0.7vh);
    background-color: rgba(218, 12, 12, 0.877);
  }
  .sub-2 ul li .icons {
    width: 8vw;
    height: 3vh;
    position: relative;
    left: 1.8vw;
    color: rgba(231, 231, 231, 0.575);
    -webkit-transition: 300ms ease-in all;
    transition: 300ms ease-in all;
  }
  .sub-2 .suber {
    font-size: 50px;
    text-align: center;
    background-color: transparent;
    color: white;
  }
  .sub-anim {
    -webkit-transform: translateY(-21vh);
            transform: translateY(-21vh);
  }
}

@media screen and (max-width: 1000px) {
  .sub-2:hover .icons {
    width: 8vw;
    height: 3vh;
    color: rgba(231, 231, 231, 0.945);
  }
  .sub-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    left: 35%;
    bottom: -16vh;
    width: 30vw;
    height: 10vh;
    background-color: rgba(73, 55, 192, 0.397);
    -webkit-transition: 900ms ease all;
    transition: 900ms ease all;
    border-radius: 2em;
    -webkit-backdrop-filter: blur(7px);
            backdrop-filter: blur(7px);
    -webkit-box-shadow: 0px 0px 2px #413e3e;
            box-shadow: 0px 0px 2px #413e3e;
    z-index: 1500;
  }
  .sub-2 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    left: -25px;
  }
  .sub-2 ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 20px;
    height: 7vh;
    width: 7.5vw;
    background-color: rgba(241, 10, 10, 0.281);
    -webkit-backdrop-filter: blur(123px);
            backdrop-filter: blur(123px);
    border-radius: 50%;
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
    cursor: pointer;
    -webkit-transition: 500ms ease-in-out all;
    transition: 500ms ease-in-out all;
  }
  .sub-2 ul li:hover {
    -webkit-transform: translateY(-0.7vh);
            transform: translateY(-0.7vh);
    background-color: rgba(218, 12, 12, 0.877);
  }
  .sub-2 ul li .icons {
    width: 8vw;
    height: 3vh;
    position: relative;
    left: 0vw;
    color: rgba(231, 231, 231, 0.575);
    -webkit-transition: 300ms ease-in all;
    transition: 300ms ease-in all;
  }
  .sub-2 .suber {
    font-size: 50px;
    text-align: center;
    background-color: transparent;
    color: white;
  }
  .sub-anim {
    -webkit-transform: translateY(-21vh);
            transform: translateY(-21vh);
  }
}
/*# sourceMappingURL=submenu_2.css.map */